<main class="content">
  <mat-accordion multi>
    <app-model-detail *ngFor="let m of models" [model]="m" (changes)="handleModelChanges($event, m)"></app-model-detail>
  </mat-accordion>
</main>
<button mat-fab (click)="create()" color="warn">
  <mat-icon>add</mat-icon>
</button>
