@import '~@angular/material/theming';

@mixin layout-row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

@mixin layout-column {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

@mixin layout-fill {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.spacer {
  flex: 1 1 0px;
}

.app-model-detail {
  &:host {
    display: block;
    @include mat-elevation(2);
    transition: margin 225ms $mat-fast-out-slow-in-timing-function;
  }

  &-expanded:host {
    margin: 16px 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-header {
    @include layout-row();

    width: 100%;
    background: none;
    border: none;
    outline: none;
    padding: 0 24px;
    cursor: pointer;
    position: relative;
    text-align: left;

    &-ripple {
      @include layout-fill();
    }

    &-price {
      display: none;
    }

    &-description {
      @include layout-row();
      flex: 1 1 0px;
      justify-content: flex-end;
    }
  }

  &-body {
    overflow: hidden;

    &-content {
      box-sizing: border-box;
      @include layout-column();
      justify-content: space-between;
      padding: 8px 24px 16px;
    }
  }
}

.row {
  @include layout-row();
}

.flex {
  flex: 1 1 0px;
}

.actions {
  @include layout-row();
  padding: 16px 24px;
}

.mat-form-field {
  display: block;
  margin: 0 8px;
  min-width: 0;
}

@media (min-width:640px) {
  .app-model-detail {
    &-header {
      &-title {
        min-width: 160px;
        width: 25%;
      }

      &-price {
        display: initial;
      }

      &-description {
        flex: 1 1 0px;
        justify-content: space-between;
      }
    }

    &-body-content {
      @include layout-row();
    }
  }

  .form,
  .app-model-photo {
    width: calc(50% - 8px);
  }
}
