:host {
  display: block;
}

img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: auto;
}

.app-model-photo-fallback {
  display: block;
  margin: 64px auto;
  width: 64px;
  height: 64px;
  font-size: 64px;
}
